.telf {
    background-color: aqua;
}
.body{
    background-color: blue;
}
.nav{
    background-color: rgb(196, 210, 210);
   
}
.pipipi {
    background-color: aqua;
    text-align: center;
}
.sec {
    margin: 20px;
}\
.jopi {
    background-color: rgb(165, 165, 196);
}