.telf {
    background-color: aqua;
}
body{
    background-color: rgb(8, 86, 97);
}
header{
    background-color: rgb(196, 210, 210);
    list-style-type: none;
    padding: 20px;   
     margin: 15px;
}
.pipipi {
    background-color: aqua;
    text-align: center;
}
.sec {
    margin: 20px;
}
.jopi {
    background-color: rgb(165, 165, 196);
    font-size: 40px;

}
main {
    background-color: rgb(26, 177, 211);
}
section {
    background-color: rgb(17, 117, 150);

}
.boy {
    background-color: blueviolet;
}
.biy{
    background-color: blueviolet;
}
footer{
    background-color: rgb(123, 123, 159);
}
h1{
    background-color: aqua;
}
h3{
    background-color: blueviolet;
    text-align: center;
}
.navegador{
    display: flex;
    justify-content: space-between;
}
